/* app/assets/stylesheets/application.css or app/assets/stylesheets/scaffold.scss */
@import "colors";

.friend-details {
  border: 1px solid $border-color;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $background-color;
}

.friend-details p {
  margin-bottom: 5px;
}

.friend-details strong {
  font-weight: bold;
}
