/* Define your custom styles here */
@import "colors";

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}
